/* CARD'S */

.cardBoxs
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBoxs .cardsM
{
    position: relative;
    background: var(--background-color);
    padding: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
}

.cardBoxs .cardsM
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--main-color);
}

.cardBoxs .cardsM
{
    color: var(--text-color);
    font-size: 1.1em;
    margin-top: 5px;
}

.cardBoxs .cardsM .iconBxs
{
    font-size: 1.5em;
    color: var(--text-color);
}

.cardBoxs .cardsM:hover
{
    background: var(--main-color);
    transition: 0.5s;
}

.cardBoxs .cardsM:hover,
.cardBoxs .cardsM:hover,
.cardBoxs .cardsM:hover .iconBxs
{
    color: var(--secondary-color);
    transition: 0.5s;
}

.logo
{
    margin: 40px;
}
/* FIN CARD'S */

.close-modal {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.close-modal:hover {
    color: red;
}

